<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src="../../assets/images/logo.png" width="50px" height="50px"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/Home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Users">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Posts">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Notes">Notes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Login">Login</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>